*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.row {
    background: white;
    border-radius: 30px;
    box-shadow: 12px 12px 22px;

}

.login img{

    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    width: 100%;
    max-height: 550px;
}

@media (max-width: 990px) { 

    .login img{
        border-radius: 30px;
    }

}

.login h1{
    font-family: 'Pacifico', cursive;
    color: rgb(28, 80, 136);
}

.login h3 {
    font-family: 'Inter', sans-serif;
}

.mens1{
    padding: 10px 0;
    color: rgba(165,157,157);
    font-family: 'Inter', sans-serif;    
}

.inpt{
    height: 50px;
    width: 70%;
    border: none;
    outline: none;
    border-radius: 60px;
    box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
}

.input-field{
    height: 40px;
    width: 80%;
    border: 1px solid rgba(202,198,200);
    outline: none;
    padding: 5px 45px;
    margin-top: 10px;
    font-size: medium;
    border-radius: 20px;
    box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
    -webkit-box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 1px 20px -11px rgba(0,0,0,0.75);
}    


.icon{
    position: absolute;
    padding: 20px;
    color: rgba(165,157,157);
}



.btn1 {
    height: 50px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 60px;
    font-weight: 600;
    background: rgb(28, 80, 136);
    color: white;
}

.btn1:hover {

    background: rgb(7, 51, 99);
    transition: 0.5s;

}